    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_logo">
                                <h1>Evérest</h1>
                            </div>
                            <div class="footet_text">
                                <p>Đặt xu hướng cho thế giới công nghệ di động tiên tiến.</p>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-md-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="/account">Tài khoản</h4>
                                <a href="/account/order-history">Đơn hàng</a>
    
                                <a href="/account/">Quản lí tải khoản</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="/about-us">Thông tin</h4>
                                <a href="/about-us">Về chúng tôi</a>
                                <a href="/about-us">Lịch sử hình thành</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_download">
                        <div class="row">
                            <div class="col-lg-6 col-lg-12">
                                <h4 class="footer_title">Liên hệ</h4>
                                <div class="footer_contact">
                                    <p>
                                        <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                        Phước Bình, Phước tỉnh, Long điền <br> Tỉnh Bà Rịa Vũng Tàu, Việt Nam
                                    </p>
                                    <p class="phn">
                                        <span class="icn"><i class="las la-phone"></i></span>
                                        0123456789
                                    </p>
                                    <p class="eml">
                                        <span class="icn"><i class="lar la-envelope"></i></span>
                                        zachudson12@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="footer_social col-lg-6 col-lg-12">
                                <div class="footer_icon d-flex">
                                    <a href="https://facebook.com/onrussel" class="facebook"><i class="lab la-facebook-f"></i></a>
                                    <a href="https://x.com/tw_everest" class="twitter"><i class="lab la-twitter"></i></a>
                                    <a href="https://instagram.com/pt.everest" class="instagram"><i class="lab la-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
               
                    <p class="copyright_text text-center">© Evérest - All Rights Reserved</p>
          
    
            </div>
        </div>
    </div>